:root {
    --primary-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --second-text-color: #757575;
    --accent-color: #2196F3;
    --dark-background-color: #2F303A;
    --light-background-color: #F5F4FA;
    --rarely-black: #000000;

}


/* body */

.page {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
   
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    /*outline: 2px solid red;*/

}

/* header */
.page-header {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
   
}
.logo {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    text-decoration: none;
}
.logo-accent {
    color:var(--accent-color);
    
}
.logo-black {
    color: var(--rarely-black);
}

.logo-white {
    color: var(--primary-white-color);

}
.site-nav .link,
.contacts .link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list .nav:not(:last-child) {
    margin-right: 50px;
}

.site-nav {
    display: flex;
}
.site-nav .list{
    display: flex;
    align-items: center;
}


.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .link {
    color: var(--second-text-color);
   
}

.site-nav .link.current {
    color: var(--accent-color);
}

.link {
  
    text-decoration: none;
}

ul, p, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding-left: 0;
}
/* hero */
.hero {
    text-align: center;
    background-color: var(--dark-background-color);
}
.hero-title {
    margin-bottom: 30px;

    color: var(--primary-white-color);
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-primery {
    display: inline-block;
    border-radius: 4px;
    min-width: 216px;
    padding: 10px 32px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;

    cursor: pointer;
}
  

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.text {
        margin-bottom: 94px;

        color: var(--second-text-color);

        font-size: 14px;
        line-height: 1.7;
    }

.main-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
       
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--light-background-color);
}
.photo {
    margin-bottom: 30px;
}
.subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
       
}
.desc {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.2;
    
}


.list {
    list-style: none;
}

/* footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60;
}
    
.footer .list {
    margin-top: 20px;
}
.footer {
    background-color: var(--dark-background-color);
}
.footer .address {

    color: var(--primary-white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
        
}
.item {

    color: rgba(255, 255, 255, 0.6);
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;     
        
}


.link:hover,
.link:focus {
    color: var(--accent-color);
}
/* portfolio */
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-list .item + .item {
    margin-left: 8px;
}
.button-secondary {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;

    color: var(--primary-text-color);
    background-color: #F5F4FA;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    cursor: pointer;
        
}

.port-item {
    border: 1px solid #EEEEEE;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--second-text-color);

    font-size: 16px;
    line-height: 1.9;
        
}

.button-secondary:hover,
.button-secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}






